service: myob-token-service

configValidationMode: error

package:
  include:
    - src/

custom:
  esbuild:
    bundle: true
    minify: true
    target: node12
  s3:
    port: 8888
    directory: /app/.s3-local
  dynamodb:
    stages:
      - dev
    start:
      port: 3003
      inMemory: true
      migrate: true
  serverless-offline-ssm:
    stages:
      - dev

plugins:
  - serverless-s3-local
  - serverless-dynamodb-local
  - serverless-offline-ssm
  - serverless-offline
  - serverless-esbuild

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'staging'}
  region: ${opt:region, 'ap-southeast-2'}
  memorySize: 192 #mb (default for all)
  iamRoleStatements:
    # - Effect: "Allow"
    #   Action:
    #     - "s3:*"
    #   Resource:
    #     - Fn::Join:
    #       - ''
    #       - - 'arn:aws:s3:::'
    #         - Ref: S3BucketConfig
    #         - '/*'

functions:
  hello:
    handler: src/handler.hello

#resources:
#  Resources:
    # S3BucketConfig:
    #   Type: AWS::S3::Bucket
    #   Properties:
    #     BucketName: ${self:custom.s3.configBucket}
    #   DeletionPolicy: Delete

    # DBUsers:
    #   Type: AWS::DynamoDB::Table
    #   Properties:
    #     TableName: usersTable
    #     AttributeDefinitions:
    #       - AttributeName: email
    #         AttributeType: S
    #     KeySchema:
    #       - AttributeName: email
    #         KeyType: HASH
    #     ProvisionedThroughput:
    #       ReadCapacityUnits: 1
    #       WriteCapacityUnits: 1
