{
    "extends": "../../tsconfig.base.json",
    "compilerOptions": {
        "esModuleInterop": true
    },
    "include": [
        "vite.config.ts",
        "../../libs/**/src/index.ts",
        "src/**/*.ts",
        "**/*.test.ts"
    ]
}
